################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Proyecto Banco/CopilotIndices/17.14.1347.20289
/.vs/Full-Stack-BP-devsu/CopilotIndices/17.14.1347.20289
/.vs/Full-Stack-BP-devsu/FileContentIndex
